.homepage-background_container .homepage-section_container {
  margin: 0px;
  padding: 0px;
}

.homepage-section {
  background-color: #ffffff;
  height: 554px;
  padding-top: 120px;
  padding-bottom: 120px;
}

.homepage-section_converter-title{
    font-weight: 700px;
    font-size: 40px;
    line-height: 56px;
    margin-bottom: 27px;
    color: #1F1E25;
}
.homepage-section_converter-description{
    font-weight: 400px;
    font-size: 20px;
    line-height: 28px;
    margin-bottom: 27px;
    color: #707C87;
}
.homepage-section_converter-button{
    width: 251px;
    height: 60px;
    border-radius: 4px;
    background-color: #2C36F2;
    font-weight: 500px;
    font-size: 18px;
    line-height: 26px;
    color: #F6F7FF;
    padding: 0px;
}

.homepage-background_chip-img {
    /* width: 436px; */
    height: 314px;
    border-radius: 4px;
  }